.navigation {
    display: flex;
}

.navigation li + li {
    margin-left: 16px;
}

.navigation li > a {
    padding: 10px;
    
    font-size: 16px;
    font-weight: 500;
    color: #DDD;

    transition: all .2s ease-in-out;
}

.navigation li > a:hover {
    transform: translate3d(0, -6px ,0);
}