<nav>
  <ul class="navigation">
    <li>
      <a [href]="header.items.home.path">
        {{ header.items.home.name | uppercase }}
      </a>
    </li>
    <li>
      <a [href]="header.items.about.path">
        {{ header.items.about.name | uppercase }}
      </a>
    </li>
    <li>
      <a [href]="header.items.projects.path">
        {{ header.items.projects.name | uppercase }}</a
      >
    </li>
    <li>
      <a [href]="header.items.service.path">
        {{ header.items.service.name | uppercase }}
      </a>
    </li>
    <li>
      <a [href]="header.items.contact.path">
        {{ header.items.contact.name | uppercase }}
      </a>
    </li>
  </ul>
</nav>
