<section class="about">
        <div class="about-avatar">
            <figure class="image-avatar">
              <img [src]="assets.images.avatar.url" alt="Foto de Victor Ambrozi" />
            </figure>
        </div>
      <div class="about-text">
        <p>
          Olá, me chamo João Victor, fiquem a vontade para me chamer pelo sobrenome
          :D. Sou técnico de informática, com sólidos conhecimentos em manutenção de
          microcomputadores e notebooks e no momento, estou em transição de
          carreira.
        </p>
        <p>
          Meu interesse em desenvolvimento surgiu em 2020, quando surgiu a
          necessidade de adicionar um link na página do site onde trabalhava kkk. A
          partir daquele momento, percebi que poderia minerar mais o mundo da
          programação. Hoje, estou estudando Angular, Java e SQL.
        </p>
        <p>
          Sou viciado em praticar esportes, de uma maneira geral, isso me deixa
          feliz demais :D. Hoje, sou graduado faixa marrom de jiujitsu e costumo
          incentivar alunos e alunas, mostrando os estudos como caminho do sucesso!
        </p>
      </div>
</section>
