.title {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;

    color: #DDD;    
}

.title > span {
    font-size: 128px;
}

@media(max-width: 1080px) {
    .title > span {
        font-size: 90px;
    }
}