.navigation-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    max-width: 100%;

    width: 70px;
    height: 70px;
}
.navigation {
    display: flex;
}

.navigation li + li {
    margin-left: 16px;
}

.navigation li > a {
    padding: 10px;
    
    font-size: 16px;
    font-weight: 500;
    color: #DDD;

    transition: all .2s ease-in-out;
}

.navigation li > a:hover {
    transform: translate3d(0, -6px ,0);
}

@media (max-width: 1080px) {
    .navigation-container {
        position: relative;
    }
    .hamburguer-container {
        padding: 20px 10px;      
        position: absolute;
        top: 0;
        right: 0;

        
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        z-index: 999;
    }
    
    .hamburguer {
        width: 20px;
        height: 2px;

        border-radius: 100%;
        
        background: #DDD;
        position: relative;
    }

    .hamburguer::before {
        content: '';
        width: 30px;
        height: 2px;

        border-radius: 100%;
        
        position: absolute;
        top: -10px;
        right: 0;
        
        background: #DDD;
    }

    .hamburguer::after {
        content: '';
        width: 30px;
        height: 2px;

        border-radius: 100%;
        
        position: absolute;
        top: 10px;
        right: 0;
        
        background: #DDD;
    }

    .navigation {
        border-radius: 32px 0 32px 32px;

        min-width: 230px;
        min-height: 330px;

        position: absolute;
        top: 0;
        right: 0;

        flex-direction:column;
        justify-content: center;
        align-items: center;

        background: rgba(29, 30, 35, 0.9);
        z-index: 1;

        display: none;
    }
    
    .navigation.active {
        display: flex;
        transition: all ease-in-out 300ms;
    }

    .navigation li + li {
        margin-left: 0
    }

  }