.skills-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.skill-container {
  padding: 20px;

  background: #58595e;
  border-radius: 10px;
  box-shadow: 16px 16px 20px -8px rgba(0, 0, 0, 0.25);
}

.skill-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-container__content span {
  margin-top: 16px;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;

  color: #dddddd;
}

.skill-container__content-image {
  width: 120px;
  height: 120px;
}

@media (max-width: 1200px) {
  .skills-container {
    grid-template-columns: repeat(4, minmax(140px, 1fr));
  }

  .skill-container__content-image {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 990px) {
  .skills-container {
    grid-template-columns: repeat(4, minmax(120px, 1fr));
  }
}

@media (max-width: 854px) {
  .skills-container {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
  }
}
@media (max-width: 600px) {
  .skills-container {
    grid-template-columns: repeat(1, minmax(120px, 1fr));
  }
}
