.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background: radial-gradient(50% 50% at 50% 50%, #58595e 0%, #1d1e23 100%);
}

.grid-area-sidebar-left {
  grid-area: aside;
}

.grid-area-header {
  grid-area: header;
  width: 100%;
  padding: 32px 64px;
}

.grid-area-main {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  
  filter: drop-shadow(6px 11px 4px rgba(0, 0, 0, 0.25));

  border: 1px solid #fff;
}

.grid-area-sidebar-right-container {
  padding-right: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

@media(max-width: 800px) {
  .container {
    width: 100vw;
    display: grid;
    grid-template:
      "aside header"
      "main  aside-nav"
      "main  aside-nav";
  
    grid-template-columns: 199px auto 10%;
  
    background: radial-gradient(50% 50% at 50% 50%, #58595e 0%, #1d1e23 100%);
    height: 100vh;
  }

  .grid-area-header {
    grid-area: header;
    height: initial;
    padding-right: 0;
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .grid-area-aside-nav {
    width: 100%;
    grid-area: aside-nav;
  
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}