.container {
    width: 100vw;
    display: grid;
    grid-template: 
    "aside header header"
    "aside main  aside-nav"
    "aside main  aside-nav"
    ;

    grid-template-columns: 199px auto 10%;

    background: radial-gradient(50% 50% at 50% 50%, #58595E 0%, #1D1E23 100%);
}

.grid-area-aside{
    grid-area: aside;
}

.grid-area-header {
    grid-area: header;
    height: 120px;
    padding-right: 64px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.grid-area-main{
    grid-area: main;

    filter: drop-shadow(6px 11px 4px rgba(0, 0, 0, 0.25));
}

.grid-area-aside-nav{
    grid-area: aside-nav;
    
    padding-right: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}