<div class="sidebar">
    <div class="logo">
        <a href="#">
            <img [src]="assets.logo.path" alt="Logo Victor Ambrozi">
        </a>
    </div>

    <div class="social-media">
        <a href="#">
            <img [src]="assets.socialMedia.instagram.path" alt="Ícone Instagram">
        </a>
        <a href="#">
            <img [src]="assets.socialMedia.linkedin.path" alt="ícone Linkedin">
        </a>
        <a href="#">
            <img [src]="assets.socialMedia.github.path" alt="ícone Github">
        </a>
    </div>
</div>