.sidebar {
    padding: 32px 64px;
    width: 199px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
}

.logo {
    display: block;
    max-width: 100%;

    width: 70px;
    height: 70px;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.social-media > a  {
    padding: 0 8px;
    transition: all .4s ease-in-out;
}

.social-media > a:hover  {
    transform: translateY(-8px);
}

.social-media > a + a {
    margin-top: 8px;
}

@media (max-width: 840px) {
    .sidebar {
        padding: 32px;
    }
}